# Entorno virtual (CRÍTICO: No mezclar librerías de Windows/Mac con Linux)
.venv
venv
ENV

# Bytecode de Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.egg-info

# Variables de entorno (SEGURIDAD)
.env
.env.*

# Base de datos local (para no sobrescribir la del contenedor)
*.sqlite3
*.db

# Archivos subidos (no queremos copiar gigas de imágenes de prueba al build)
media/

# Sistema y Git
.git
.gitignore
.DS_Store
Thumbs.db